{% extends 'index.html' %}
{% block title %}注册{% endblock %}
{% block css %}
    <style type="text/css">
        body {
            background-image: url("../static/timg1.jpeg");
            background-repeat: no-repeat;
            background-attachment: scroll;
            background-size: 100%;
        }

        #title {
            font-family: 宋体, serif;
            font-size: 50px;
            text-align: center;
            margin-top: 12.5%;
        }

        #form {
            border: white solid 5px;
            border-radius: 10px;
            background: cadetblue;
            text-align: center;
            margin-left: 35%;
            padding: 1%;
            width: 25%;
            height: 160px;
        }
    </style>
{% endblock %}
{% block body %}
    <h1 id="title">番剧推荐注册</h1>
    <div id="form">
        <form action="/search" method="post">
            <p>账号：<input type="text" name="user_id"></p>
            <p>密码：<input type="password" name="password"></p>
            <p>确认密码：<input type="password" name="repassword"></p>
            <pre><input type="submit" value="注册"></pre>
        </form>
    </div>
{% endblock %}